<h4><span class="clr">Name : </span>{{userName}}, <span class="clr" *ngIf="ipAddress">Ip Address :</span> {{ipAddress.ip}}, <span class="clr">Latitude :</span> {{latitude}}, <span class="clr">Longitude :</span> {{longitude}}</h4>
<div id="boxes">
    <div id="leftbox">
      
    </div>

    <div id="middlebox">
        <div style="padding-top: 50px;" id="map"></div>
    </div>

    <div id="rightbox">
        <div>
            <button (click)='close()'>Exit</button>
        </div>
    </div>
</div>