#map { height: 350px; width: 665px; margin: auto; }

#leftbox {
    float:left; 
    width:25%;
    height:500px;
}
#middlebox{
    float:left; 
    width:50%;
    height:400px;
    border-style: solid;
    border-color: coral;
}
#rightbox{
    float:right;
    width:5%;
    height:500px;
}
h1{
    color:green;
    text-align:center;
}
.clr{
    color: rgb(0, 255, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }